.pomodoro {
    overflow:hidden;
    height:75px;
    width:200px;
    position:relative;
}
.datetime {
    width:200px;
    height:75px;
    position:absolute;
    top:0;
    right:-200px;
}

body {
    overflow:hidden;
}

.startstop {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 10px;
    left: 139px;
}

.conf {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 3px;
    left: 25px; 
    
    visibility: hidden;
}

.quit {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 3px;
    left: 5px;   
    
    visibility: hidden;
}

.date {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 2px;
    left: 50px;
}

.pomodori {
    -webkit-app-region: no-drag;
    color:rgb(195, 41, 41);
    position: absolute;
    top: 94px;
    left: 30px;
}

.pomodori1 {
    top:  60px;
    left: 5px;    
}
.pomodori2 {
    top:  60px;
    left: 20px;    
}
.pomodori3 {
    top:  60px;
    left: 35px;    
}
.pomodori4 {
    top: 60px;
    left: 50px;    
}
.pomodori5 {
    top: 60px;
    left: 65px;
}
.pomodori6 {
    top: 60px;
    left: 80px;
}
.pomodori7 {
    top: 60px;
    left: 95px;
}
.pomodori8 {
    top: 60px;
    left: 110px;
}

.counter {
    -webkit-app-region: drag;
    position: absolute;
    top: 0px;
    left: 125px;
}

.counter2 {
    -webkit-app-region: drag;
    position: absolute;
    top: 0px;
    left: 0px;
}